<launch>
	<include file="position_control.launch"/>
	<include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="enable_pointcloud" value="true"/>
    	</include>
	<include file="$(find ar_track_alvar)/launch/locobot_indiv_image.launch"/>
    	<node type="rviz" name="rviz" pkg="rviz">
   	</node>
</launch>
